<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mxplayer.paksoft" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.android.setting.permission.ALLSHARE_CAST_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/splash_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/splash_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme" >
        <activity
            android:name=".OpenVideoIntentActivity"
            android:exported="true" >
        <intent-filter android:label="Play with SA 4k Video Player" >
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data android:mimeType="video/*" android:scheme="file" />
            <data android:mimeType="video/*" android:scheme="content" />

        </intent-filter>
        </activity>
        <activity
            android:name=".OpenLocalActivity"
            android:exported="false" />
        <activity
            android:name=".OpenStreamIntentActivity"
            android:exported="true"
            android:screenOrientation="landscape" >

            <!-- HTTP FILE -->
            <intent-filter android:label="SA 4k Video Player" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="video/*"
                    android:scheme="http" />
                <data
                    android:mimeType="video/*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".OnlineStreamActivity"
            android:exported="true"
            android:screenOrientation="landscape" >

            <!-- HTTP FILE -->

        </activity>
        <activity
            android:name=".MusicPlayerActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <service
            android:name=".musicplayer.player.PlayerService"
            android:exported="true" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".pinlib.CustomPinActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.lockedmedia"
            android:exported="false"
            android:label="Locked File" />
        <activity
            android:name=".player.Mediaplayer"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="sensor"
            android:theme="@style/PlayerTheme" />
        <activity
            android:name=".activity.cut_video"
            android:exported="false" />
        <activity
            android:name="com.tapjoy.TJAdUnitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.tapjoy.TJContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="400Bu8Gdp-cE74xtLbK6eKqHEsXFx9e09eB1oRfaQHqXMlPhLko-3cGISoXOyBO6qZ8b0oBQ40yQmM654u47UK" />

        <provider
            android:name=".download.FilePathProvider"
            android:authorities="com.mxplayer.paksoft.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>